form{
    margin: 0%;
}
.container{
    margin: 5%;
    
}
.form-control{
    padding: 5px;
    margin: 5px;
    width: 25%;
    height: 10%;
    font-size: 20px;
    border-radius: 5px;
    font-style: sans-serif;
}
.btn{
    background-color: #d24dff;
    width: 10%;
    height: 5%;
    border-radius: 10px;
}